<router-outlet></router-outlet>

<!-- Temporary Navigations -->
<div class="temp-navigation">
	<hr>
	<div class="my-nav">
		<a routerLink="" class="clickable">Landing Page</a>
		<a routerLink="/room-types" class="clickable">Room Types</a>
		<a routerLink="/regions" class="clickable">Regions</a>
	</div>
	<div class="my-nav">
		<a routerLink="/module/room-types" class="clickable">Load Room Types for IFrame</a>
		<a routerLink="/module/regions" class="clickable">Load Regions for IFrame</a>
	</div>
</div>